node_modules
assets
.vscode
dist
fonts
js
libs
public
scss
tasks
.browserslistrc
.eslintignore
.eslintrc.json
.npmrc

.prettierignore
.prettierrc.json
build-config.js
gulpfile.js
index.html
package.json
webpack.config.js
yarn.lock